#feed-box {
  background-color: #1b2937;
  border-radius: 15px;
  width: 75%;
  margin: 0 auto;
  padding: 20px 70px;
}

.feed-button {
  background-color: #FFFFFF;
  position: relative;
  text-decoration: none;
  color: #000000;
  font-family: sans-serif;
  display: block;
  border-radius: 10px;
  height: 80px;
  margin: 20px 0;
  transition: box-shadow 0.2s;
}

.feed-button:hover {
  box-shadow: 0px 0px 0px 5px #FFFFFF;
}

#feed-button-addstory {
  background-color: #329da8;
}

#feed-button-addstory:hover {
  box-shadow: 0px 0px 0px 5px #329da8;
}

.feed-button-text {
  font-size: 40px;
  display: inline;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
