@font-face {
    font-family: "font1";
    src: url("../fonts/font1.woff2") format("woff2"),
         url("../fonts/font1.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "simplifica";
    src: url("../fonts/simplifica.woff2") format("woff2"),
         url("../fonts/simplifica.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "raleway";
    src: url("../fonts/raleway-black.woff2") format("woff2"),
         url("../fonts/raleway-black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "gidole";
    src: url("../fonts/gidole.woff2") format("woff2"),
         url("../fonts/gidole.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "blackthorns";
    src: url("../fonts/blackthorns.woff2") format("woff2"),
         url("../fonts/blackthorns.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
