.dropdown .body {
  background-color: var(--primary-color);
  border-radius: 10px;
  position: absolute;
  height: 0%;
  width: 100%;
  transition: height 1s;
  z-index: 5;
}

.dropdown .body .inner-body {
  height: 100%;
  padding-top: 25px;
  box-sizing: border-box;
}

.dropdown .body .inner-body .section {
  height: 50%;
}

.dropdown .body .inner-body .section a {
  height: 50%;
}

.dropdown .body .inner-body .section input {
  height: 50%;
}

.pushed .body {
  height: 100%;
}

.dropdown .hamburger {
  display: inline-block;
  position: relative;
  height: 40px;
  width: 100px;
  cursor: pointer;
}

.dropdown .hamburger .bar {
  position: absolute;
  border: 2px solid white;
  background-color: white;
  border-radius: 20px;
  width: 60%;
  left: 50%;
  transition: opacity 0.5s, transform 0.5s, top 0.5s, left 0.5s, box-shadow 0.5s;
}

.dropdown .hamburger .bar:nth-child(1) {
  top: 0%;
  transform: translate(-50%, 0%);
}

.dropdown .hamburger .bar:nth-child(2) {
  top: 50%;
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%);
}

.dropdown .hamburger .bar:nth-child(3) {
  top: 100%;
  transform-origin: 50% 50%;
  transform: translate(-50%, -100%);
}

.pushed .hamburger .bar:nth-child(1) {
  opacity: 0;
  transform: translate(-50%, -200%);
}

.pushed .hamburger .bar:nth-child(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.pushed .hamburger .bar:nth-child(3) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.pushed .hamburger:hover .bar:nth-child(2) {
  box-shadow: 0 0 10px 3px red;
}

.pushed .hamburger:hover .bar:nth-child(3) {
  box-shadow: 0 0 10px 3px blue;
}
