#login-title {
  height: 175px;
  width: 100%;
  font-size: 175px;
}

#login-caption {
  height: 50px;
  width: 100%;
  font-size: 40px;
}

#homepage-center {
  width: 750px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s;
}

#homepage-title {
  position: relative;
  height: 50%;
  display: block;
  margin: auto;
}

#homepage-loginbox {
  background-color: var(--primary-color);
  border-radius: 20px;
  height: 40%;
  display: block;
  margin: auto;
  padding-top: 1px;
  margin-left: 25%;
  margin-right: 25%;
}

#login-error {
  color: red;
  margin: 20px auto;
  outline: none;
  width: 250px;
  height: 10px;
  font-size: 15px;
}
