@import "./fonts.css";
@import "./colour_schemes.css";

@import "./title_animation.css";
@import "./hamburger_dropdown.css";
@import "./style_search.css";

@import "./login.css";
@import "./register.css";
@import "./feed.css";
@import "./profile.css";
@import "./settings.css";
@import "./editor.css";

@import "./private_options.css";
@import "./private_lobby.css";





body {
  margin: 0px;
  background: var(--bg-color);
  font-family: gidole;
}

button {
  outline: none;
}



/* HEADER CSS START */

#header {
  position: relative;
  height: 100px;
  margin-bottom: 50px;
  background-color: var(--header-color);
  direction: rtl;
}

#header #header-title {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  height: 100%;
  width: 350px;
  margin-left: 0px;
  font-size: 80px;
  text-decoration: none;
}

#header .dropdown {
  position: relative;
  height: 100%;
  width: 200px;
}

/* HEADER CSS END */





/* STANDARD BUTTON START */

.btn-standard {
  display: block;
  border: 0 solid white;
  border-radius: 3px;
  background-color: var(--tertiary-color);
  color: white;
  font-size: 20px;
  font-family: inherit;
  outline: none;
  transition: transform 0.3s;
}

.btn-standard:hover {
  transform: translate(0%, -10%);
}

button.btn-standard:enabled:hover {
  transform: translate(0%, -10%);
}

.btn-standard:active {
  transform: translate(0%, 0%);
  transition: transform 0s;
}

.btn-standard.btn-login {
  width: 270px;
  height: 40px;
  margin: 30px auto;
}

.btn-standard.btn-feed {
  position: relative;
  height: 80px;

  margin: 20px 0;
  background-color: #FFFFFF;
  color: #000000;
  text-decoration: none;
  border-radius: 10px;
}

.btn-standard.btn-feed.stories{
  height:500px;
  background-color: #2E4C67;
  color: #FFFFFF;


 
  padding: 5px;
}

.stories-list{
  display:grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmaX(350px, 1fr));
}

.addimg {
  padding: 11px;
  border-radius: 30px;
}

.btn-standard.btn-feed.btn-feed-top {
  background-color: #FFFFFF;
}

.btn-standard.btn-feed.unread {
  background-color: #00cc99;
}

.btn-standard.btn-feed.btn-compose {
  background-color: #3D9AF9;
}


/* STANDARD BUTTON END */






/* STANDARD INPUT FIELD END */

.input-field {
  display: block;
  border: 0 solid white;
  box-shadow: 0px 5px 1px -1px var(--secondary-color);
  border-radius: 5px;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  font-size: 20px;
  font-family: inherit;
  outline: none;
  transition: box-shadow 0.3s, opacity 0.3s;
}

.input-field:focus {
  box-shadow: 0px 0px 1px 5px var(--tertiary-color);
  opacity: 1;
}

.input-field.input-login {
  width: 250px;
  height: 30px;
  margin: 30px auto;
  padding: 0 10px;
}

.input-field.input-profile {
  width: 250px;
  height: 30px;
  margin: 20px;
  padding: 0 10px;
}

/* STANDARD INPUT FIELD END */







/* STANDARD CONTAINER START */

.container-standard {
  display: block;
  background-color: var(--primary-color);
  border-radius: 20px;
}

.container-standard.container-login {
  width: 400px;
  height: 275px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 5px;
  background-color: var(--primary-color);
  border-radius: 20px;
}


/* STANDARD CONTAINER END */







#settingspage-box {
  background-color: var(--primary-color);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 25%;
  border-radius: 20px;
  height: 250px;
  width: 350px;
  display: block;
  margin: auto;
  padding-top: 1px;
  margin-left: 25%;
  margin-right: 25%;
}



.input-field_story {
  font-family: inherit;
  opacity: 0.8;
  display: block;
  margin: 20px auto;
  padding: 0 10px;
  outline: none;
  width: 250px;
  height: 30px;
  font-size: 15px;
  border: 0 solid white;
  border-bottom: 1px solid grey;
  border-radius: 3px;
  transition: box-shadow 0.3s, opacity 0.3s;
}

.input-field_story:focus {
  box-shadow: 0px 0px 1px 3px #1FF5FF;
  opacity: 1;
}
