#register-title {
  height: 175px;
  width: 100%;
  font-size: 175px;
}

#register-caption {
  height: 50px;
  width: 100%;
  font-size: 40px;
}

#register-error {
  color: red;
  margin: 20px auto;
  outline: none;
  width: 250px;
  height: 10px;
  font-size: 15px;
}
