
.settings_text{
  color: white;
  font-size: 10px;
}

body{
  margin:0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
}

div{
  position: relative;
}

#rangeValue{
  position: absolute;
  top: 2px;
  right: -60px;
  padding: 2px;
  width: 50px;
  box-sizing: border-box;
  background: #fff;
  text-align: center;
}

#rangeValue:before{
  content: '';
  top: 50%;
  position: absolute;
  transform: translateY(-50%) rotate(45deg);
  left: -5px;
  width: 10px;
  height: 10px;
  background: #fff;

}

.range::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00bcd4;
}
.range{
  width: 400px;
  height: 2px;
  background: #111;
  -webkit-appearance: none;
  outline: none;
  border-radius: 2px;
}