.slider-hold{
  position: relative;
}

.settings_text{
  color: white;
  font-size: 35px;
  align-self: center;
}

#rangeValue{
  position: absolute;
  top: 2px;
  right: -60px;
  padding: 2px;
  width: 50px;
  box-sizing: border-box;
  background: #fff;
  text-align: center;
}

#rangeValue:before{
  content: '';
  top: 50%;
  position: absolute;
  transform: translateY(-50%) rotate(45deg);
  left: -5px;
  width: 10px;
  height: 10px;
  background: #fff;

}

#rangeValues{
  position: absolute;
  top: 2px;
  right: -60px;
  padding: 2px;
  width: 50px;
  box-sizing: border-box;
  background: #fff;
  text-align: center;
}

#rangeValues:before{
  content: '';
  top: 50%;
  position: absolute;
  transform: translateY(-50%) rotate(45deg);
  left: -5px;
  width: 10px;
  height: 10px;
  background: #fff;

}

.range::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00bcd4;
}

.range{
  width: 240px;
  height: 2px;
  background: #111;
  -webkit-appearance: none;
  outline: none;
  border-radius: 2px;
}

#settings-box {
  background-color: var(--primary-color);
  border-radius: 15px;
  width: 45%;
  margin: 0 auto;
  padding: 30px 70px;
}

.input-field-settings {
  display: block;
  align-self: center;
  border: 0 solid white;
  box-shadow: 0px 5px 1px -1px var(--secondary-color);
  border-radius: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  font-size: 20px;
  font-family: inherit;
  outline: none;
  transition: box-shadow 0.3s, opacity 0.3s;
}