@font-face {
    font-family: "font1";
    src: url("../fonts/font1.woff2") format("woff2"),
         url("../fonts/font1.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
  background: #2C005D;
}

#homepage-center {
  width: 750px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s;
}

#homepage-title {
  position: relative;
  height: 50%;
  display: block;
  margin: auto;
}

#homepage-loginbox {
  background-color: white;
  border-radius: 20px;
  height: 40%;
  display: block;
  margin: auto;
  padding-top: 1px;
  margin-left: 25%;
  margin-right: 25%;
}

#login-error {
  color: red;
  margin: 20px auto;
  outline: none;
  width: 250px;
  height: 10px;
  font-size: 17px;
}

#register-error {
  color: red;
  margin: 20px auto;
  outline: none;
  width: 250px;
  height: 10px;
  font-size: 17px;
}

.input-field {
  opacity: 0.8;
  display: block;
  margin: 20px auto;
  padding: 0 10px;
  outline: none;
  width: 250px;
  height: 30px;
  font-size: 20px;
  border: 0 solid white;
  border-bottom: 1px solid grey;
  border-radius: 3px;
  transition: box-shadow 0.3s, opacity 0.3s;
}

.input-field:focus {
  box-shadow: 0px 0px 1px 3px #1FF5FF;
  opacity: 1;
}

.submit-button {
  display: block;
  margin: 30px auto;
  outline: none;
  width: 270px;
  height: 40px;
  font-size: 20px;
  border: 0 solid white;
  border-radius: 3px;
  transition: box-shadow 0.3s, background-color 0.3s;
}

.submit-button:hover:enabled {
  box-shadow: 0px 0px 1px 3px #1FF5FF;
  background-color: #1FF5FF;
  cursor: pointer;
}
