@font-face {
    font-family: "font1";
    src: url("../fonts/font1.woff2") format("woff2"),
         url("../fonts/font1.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "simplifica";
    src: url("../fonts/simplifica.woff2") format("woff2"),
         url("../fonts/simplifica.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "raleway";
    src: url("../fonts/raleway-black.woff2") format("woff2"),
         url("../fonts/raleway-black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "drogowskaz";
    src: url("../fonts/drogowskaz.woff2") format("woff2"),
         url("../fonts/drogowskaz.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
  background: #141c25;
  font-family: drogowskaz;
  margin: 0px;
}

button {
  outline: none;
}

#header {
  background-color: #1b2937;
  position: relative;
  direction: rtl;
  height: 100px;
  margin-bottom: 50px;
}

.header-button {
  font-size: 20px;
  font-family: drogowskaz;
  color: white;
  background-color: #2F3D4B;
  border: 0 solid black;
  width: 150px;
  height: 100%;
  transition: background-color 0.3s;
}

.header-button:hover {
  background-color: #4D515F;
}

#homepage-center {
  width: 750px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s;
}

#homepage-title {
  position: relative;
  height: 50%;
  display: block;
  margin: auto;
}

#homepage-loginbox {
  background-color: #1b2937;
  border-radius: 20px;
  height: 40%;
  display: block;
  margin: auto;
  padding-top: 1px;
  margin-left: 25%;
  margin-right: 25%;
}

#login-error {
  color: red;
  margin: 20px auto;
  outline: none;
  width: 250px;
  height: 10px;
  font-size: 15px;
}

#register-error {
  color: red;
  margin: 20px auto;
  outline: none;
  width: 250px;
  height: 10px;
  font-size: 15px;
}

.input-field {
  font-family: inherit;
  opacity: 0.8;
  display: block;
  margin: 20px auto;
  padding: 0 10px;
  outline: none;
  width: 250px;
  height: 30px;
  font-size: 20px;
  border: 0 solid white;
  border-bottom: 1px solid grey;
  border-radius: 3px;
  transition: box-shadow 0.3s, opacity 0.3s;
}

.input-field:focus {
  box-shadow: 0px 0px 1px 3px #1FF5FF;
  opacity: 1;
}

.submit-button {
  font-family: inherit;
  display: block;
  margin: 30px auto;
  outline: none;
  width: 270px;
  height: 40px;
  font-size: 20px;
  border: 0 solid white;
  border-radius: 3px;
  transition: box-shadow 0.3s, background-color 0.3s;
}

.submit-button:hover:enabled {
  box-shadow: 0px 0px 1px 3px #1FF5FF;
  background-color: #1FF5FF;
  cursor: pointer;
}
