:root {
  --s1x: -49%;
  --s1y: -30%;
  --s2x: -51%;
  --s2y: -30%;
}

.title {
  font-family: "font1";
  font-size: 175px;
  color: #FFFFFF;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}

#title-main {

}

#title-shadow-one {
  color: #00FFFF;
  user-select: none;
  transform: translate(var(--s1x), var(--s1y));
  animation: glitch-shadow-one 5s infinite;
  z-index: -1;
}

#title-shadow-two {
  color: #FF00FF;
  user-select: none;
  transform: translate(var(--s2x), var(--s2y));
  animation: glitch-shadow-two 5s infinite;
  z-index: -2;
}



@keyframes title-main-hold {
  0% {
    transform: translate(-50%, -100%);
  }
}

@keyframes glitch-shadow-one {
  0% {
    transform: translate(calc(var(--s1x)), calc(var(--s1y)));
  }

  95.9% {
    transform: translate(calc(var(--s1x)), calc(var(--s1y)));
  }
  /* (4%, -4%) */
  96% {
    transform: translate(calc(var(--s1x) + 4%), calc(var(--s1y) - 4%));
  }

  97.9% {
    transform: translate(calc(var(--s1x) + 4%), calc(var(--s1y) - 4%));
  }
  /* (-3%, 3%) */
  98% {
    transform: translate(calc(var(--s1x) - 3%), calc(var(--s1y) + 3%));
  }

  99.9% {
    transform: translate(calc(var(--s1x) - 3%), calc(var(--s1y) + 3%));
  }
  100% {
    transform: translate(calc(var(--s1x)), calc(var(--s1y)));
  }
}

@keyframes glitch-shadow-two {
  0% {
    transform: translate(calc(var(--s2x)), calc(var(--s2y)));
  }

  95.9% {
    transform: translate(calc(var(--s2x)), calc(var(--s2y)));
  }
  /* (-6%, 6%) */
  96% {
    transform: translate(calc(var(--s2x) - 6%), calc(var(--s2y)));
  }

  97.9% {
    transform: translate(calc(var(--s2x) - 6%), calc(var(--s2y)));
  }
  /* (0%, 0%) */
  98% {
    transform: translate(calc(var(--s2x)), calc(var(--s2y)));
  }

  100% {
    transform: translate(calc(var(--s2x)), calc(var(--s2y)));
  }
}
