:root {
  --s1x: -51%;
  --s1y: -49%;
  --s2x: -49%;
  --s2y: -51%;
}

.glitch-container {
  position: relative;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.glitch-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: "font1";
  font-size: 175px;

  mix-blend-mode: screen;
}

#glitch-main {
  color: lightgreen;

  user-select: none;
  animation: animation-main 5s infinite;
  z-index: 1;
}

#glitch-shadow-one {
  color: blue;
  text-shadow: 0px 0px 7px blue;
  user-select: none;
  transform: translate(var(--s1x), var(--s1y));
  animation: animation-shadow-one 5s infinite;
  z-index: 2;
}

#glitch-shadow-two {
  color: red;
  text-shadow: 0px 0px 7px red;
  transform: translate(var(--s2x), var(--s2y));
  animation: animation-shadow-two 5s infinite;
  z-index: 3;
}

.caption {
  font-family: "font1";
  font-size: 34px;
  color: #FFFFFF;
  mix-blend-mode: screen;

  position: absolute;
  top: 86%;
  left: 50%;
  transform: translate(-50%, -30%);
}

#caption-main {
  z-index: 1;
  color: white;
  user-select: none;
}

#caption-shadow-one {
  color: blue;
  text-shadow: 0px 0px 7px blue;
  user-select: none;
  transform: translate(var(--s1x), var(--s1y));
  animation: glitch-shadow-one 5s infinite;
  z-index: 2;
}

#caption-shadow-two {
  color: red;
  text-shadow: 0px 0px 7px red;
  transform: translate(var(--s2x), var(--s2y));
  animation: glitch-shadow-two 5s infinite;
  z-index: 3;
}

.create {
  font-family: "font1";
  font-size: 50px;
  color: #FFFFFF;
  mix-blend-mode: screen;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}

#create-main {
  z-index: 1;
  color: white;
  user-select: none;
}

#create-shadow-one {
  animation-direction: reverse;
  color: blue;
  text-shadow: 0px 0px 7px blue;
  user-select: none;
  transform: translate(var(--s1x), var(--s1y));
  animation: glitch-shadow-one 5s infinite;
  z-index: 2;
}

#create-shadow-two {
  animation-direction: reverse;
  color: red;
  text-shadow: 0px 0px 7px red;
  transform: translate(var(--s2x), var(--s2y));
  animation: glitch-shadow-two 5s infinite;
  z-index: 3;
}


.header-title {
  display: inline-block;
  position: absolute;
  top: 35%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.header-title .title {
  font-size: 75px;
}



@keyframes animation-main {
  0% {
    transform: translate(-50%, -50%);
  }
}

@keyframes animation-shadow-one {
  0% {
    transform: translate(calc(var(--s1x)), calc(var(--s1y)));
  }

  15.9% {
    transform: translate(calc(var(--s1x)), calc(var(--s1y)));
  }
  /* (4%, -4%) */
  16% {
    transform: translate(calc(var(--s1x) + 4%), calc(var(--s1y) - 4%));
  }

  17.9% {
    transform: translate(calc(var(--s1x) + 4%), calc(var(--s1y) - 4%));
  }
  /* (-3%, 3%) */
  18% {
    transform: translate(calc(var(--s1x) - 3%), calc(var(--s1y) + 3%));
  }

  19.9% {
    transform: translate(calc(var(--s1x) - 3%), calc(var(--s1y) + 3%));
  }
  20% {
    transform: translate(calc(var(--s1x)), calc(var(--s1y)));
  }
}

@keyframes animation-shadow-two {
  0% {
    transform: translate(calc(var(--s2x)), calc(var(--s2y)));
  }

  15.9% {
    transform: translate(calc(var(--s2x)), calc(var(--s2y)));
  }
  /* (-6%, 6%) */
  16% {
    transform: translate(calc(var(--s2x) - 6%), calc(var(--s2y)));
  }

  17.9% {
    transform: translate(calc(var(--s2x) - 6%), calc(var(--s2y)));
  }
  /* (0%, 0%) */
  18% {
    transform: translate(calc(var(--s2x)), calc(var(--s2y)));
  }

  20% {
    transform: translate(calc(var(--s2x)), calc(var(--s2y)));
  }
}
