:root {
  --s1x: -51%;
  --s1y: -29%;
  --s2x: -49%;
  --s2y: -31%;
}

.title {
  font-family: "font1";
  font-size: 175px;
  color: #FFFFFF;
  mix-blend-mode: screen;

  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -30%);
}

#title-main {
  z-index: 1;
  color: lightgreen;
  user-select: none;
}

#title-shadow-one {
  color: blue;
  text-shadow: 0px 0px 7px blue;
  user-select: none;
  transform: translate(var(--s1x), var(--s1y));
  animation: glitch-shadow-one 5s infinite;
  z-index: 2;
}

#title-shadow-two {
  color: red;
  text-shadow: 0px 0px 7px red;
  transform: translate(var(--s2x), var(--s2y));
  animation: glitch-shadow-two 5s infinite;
  z-index: 3;
}

.caption {
  font-family: "font1";
  font-size: 34px;
  color: #FFFFFF;
  mix-blend-mode: screen;

  position: absolute;
  top: 86%;
  left: 50%;
  transform: translate(-50%, -30%);
}

#caption-main {
  z-index: 1;
  color: white;
  user-select: none;
}

#caption-shadow-one {
  color: blue;
  text-shadow: 0px 0px 7px blue;
  user-select: none;
  transform: translate(var(--s1x), var(--s1y));
  animation: glitch-shadow-one 5s infinite;
  z-index: 2;
}

#caption-shadow-two {
  color: red;
  text-shadow: 0px 0px 7px red;
  transform: translate(var(--s2x), var(--s2y));
  animation: glitch-shadow-two 5s infinite;
  z-index: 3;
}

.header-title {
  display: inline-block;
  position: absolute;
  top: 35%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.header-title .title {
  font-size: 75px;
}



@keyframes title-main-hold {
  0% {
    transform: translate(-50%, -100%);
  }
}

@keyframes glitch-shadow-one {
  0% {
    transform: translate(calc(var(--s1x)), calc(var(--s1y)));
  }

  15.9% {
    transform: translate(calc(var(--s1x)), calc(var(--s1y)));
  }
  /* (4%, -4%) */
  16% {
    transform: translate(calc(var(--s1x) + 4%), calc(var(--s1y) - 4%));
  }

  17.9% {
    transform: translate(calc(var(--s1x) + 4%), calc(var(--s1y) - 4%));
  }
  /* (-3%, 3%) */
  18% {
    transform: translate(calc(var(--s1x) - 3%), calc(var(--s1y) + 3%));
  }

  19.9% {
    transform: translate(calc(var(--s1x) - 3%), calc(var(--s1y) + 3%));
  }
  20% {
    transform: translate(calc(var(--s1x)), calc(var(--s1y)));
  }
}

@keyframes glitch-shadow-two {
  0% {
    transform: translate(calc(var(--s2x)), calc(var(--s2y)));
  }

  15.9% {
    transform: translate(calc(var(--s2x)), calc(var(--s2y)));
  }
  /* (-6%, 6%) */
  16% {
    transform: translate(calc(var(--s2x) - 6%), calc(var(--s2y)));
  }

  17.9% {
    transform: translate(calc(var(--s2x) - 6%), calc(var(--s2y)));
  }
  /* (0%, 0%) */
  18% {
    transform: translate(calc(var(--s2x)), calc(var(--s2y)));
  }

  20% {
    transform: translate(calc(var(--s2x)), calc(var(--s2y)));
  }
}
